<body>
  <h1>Make your form here</h1>
  <form method="post" action="/pirates">

    <p><label for="name">Pirate Name</label></p>
    <p><input type="name" id="name" name="name"></p>
    <p><label for="weight">Pirate Weight</label></p>
    <p><input type="text" id="weight" name="weight"></p>
    <p><label for="height">Pirate Height</label></p>
    <p><input type="text" id="height" name="height"></p>
    <p><input type="submit" id="submit" value="submit"></p>

    <p><label for="name">Ship Name</label></p>
    <p><input type="name" id="ship_name_1" name="name"></p>
    <p><label for="name">Ship Type</label></p>
    <p><input type="text" id="type" name="type"></p>
    <p><label for="booty">Ship Booty</label></p>
    <p><input type="text" id="booty" name="booty"></p>

  </form>
</body>
